.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    color: $color-main;
    cursor: pointer;
}
