@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
}
