@use "variables" as v;

html {
  box-sizing: border-box;
  height: 100%;
}

html *,
html ::after,
html ::before {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  // width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans", Tahoma, sans-serif;
  color: v.$gray-1;
  overflow-wrap: break-word;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: v.$gray-1;
  text-decoration-skip-ink: none;
  transition: all 0.15s ease-out;

  &[href] {
    cursor: pointer;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg {
  display: block;
}

picture {
  display: block;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: inherit;
  color: inherit;
  background-color: #fff;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none;
  }

  &[disabled] {
    color: v.$gray-6;
    border-color: v.$gray-6;
    cursor: not-allowed;

    &::placeholder {
      color: v.$gray-6;
    }
  }

  &.error {
    caret-color: v.$color-error !important;
    border-color: v.$color-error !important;

    &:focus {
      border-color: v.$color-error !important;
    }
  }
}

::placeholder {
  color: v.$gray-4;
}

/* Remove shadow from fields for WebKit browsers */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  appearance: none;
}

select {
  cursor: pointer;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  color: inherit;
  transition: all 0.15s ease-out;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2,
.h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}

h3,
.h3 {
  margin: 1em 0;
  font-size: 1.17em;
}

h4,
.h4 {
  margin: 1.33em 0;
  font-size: 1em;
}

h5,
.h5 {
  margin: 1.67em 0;
  font-size: 0.83em;
}

h6,
.h6 {
  margin: 2.33em 0;
  font-size: 0.67em;
}
