@use "sass:meta";
@use "spec/fonts";

/* ==========================================================================
   VENDORS
   ========================================================================== */
@import "~normalize.css/normalize.css";
@import "~@fancyapps/ui/dist/fancybox/fancybox.css";

/* ==========================================================================
   SPECIFICATION
   ========================================================================== */
@include meta.load-css("spec/variables");
@include meta.load-css("spec/mixins");
@include meta.load-css("spec/global");
@include meta.load-css("spec/visually-hidden");
@include meta.load-css("spec/animation");

/* ==========================================================================
   HOME PAGE
   ========================================================================== */
@include meta.load-css("modules/button");
@include meta.load-css("modules/focus-visible");
@include meta.load-css("modules/content");
@include meta.load-css("modules/clearfix");
@include meta.load-css("modules/header");
@include meta.load-css("modules/container");
@include meta.load-css("modules/main");
@include meta.load-css("modules/footer");
